.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000; /* Ensures the overlay is on top */
}

.popup {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    height: 50%;
    overflow-y: auto; /* Enable scrolling if needed */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow for depth */
    display: flex;
    flex-direction: column; /* Arrange children vertically */
    justify-content: flex-start; /* Align items to the start and end */
    z-index: 9999;
}

.popup select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
}

.buttonContainer button {
    margin: 5px 10px 5px 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    box-shadow: 1px 1px 5px black;
    padding: 5px;
}

.buttonContainer button:hover {
    background-color: #419744
}

.confirmation {
    text-align: center;
    margin-top: 20px;
}

.confirmation p {
    margin-bottom: 10px;
}

.materialTitleContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.selectContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.selectContainer span {
    padding: 5px;
}

.quantityInput {
    width: 15%;
    height: 50%;
    padding: 8px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s;
}

.quantityInput:focus {
    border-color: #007bff;
}

.quantityInput:disabled {
    background-color: #f2f2f2;
    cursor: not-allowed;
}

.quantityInput:disabled:hover {
    cursor: not-allowed;
    border-color: #ff0000;
}

.materialButtonContainer button {
    width: 20px;
    height: 20px;
    margin: 5px 10px 5px 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    box-shadow: 1px 1px 3px black;
    padding: 5px;
    line-height: 10px;
    font-weight: bold;
    font-size: 16px;
}

.materialButtonContainer button:hover {
    background-color: #419744;
}

.alertText {
    padding: 15px;
    visibility: hidden;
    display: flex;
    color: red;
    font-size: 14px;
    justify-content: center;
    align-items: center;
}

.showAlert {
    /* display: flex; */
    visibility: visible;
}
