.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100002; /* Ensure the popup is above other elements */
}

.popup {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    z-index: 10001; /* Ensure the popup is above other elements */
}

.buttonContainer {
    margin-top: 20px;
}

.buttonContainer button {
    margin: 0 10px;
}
