.tableMode {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
}

.tableMode button {
    flex: 1;
    height: 60px;
    border: none;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    cursor: pointer;
    transition-duration: 0.4s;
}

.tableMode button.activeButton {
    background-color: #4CAF50;
    font-weight: bold;
}

.tableMode button.inactiveButton {
    background-color: #c0c0c0;
    color: #333;
}

.tableMode button.activeButton:hover {
    background-color: #5bcf5f;
}

.tableMode button.inactiveButton:hover {
    background-color: #d9d9d9;
}

.addButtonSearchContainer {
    display: flex;
    margin: 20px;
}

.addButton {
    flex-grow: 0;
    width: 150px;
    height: 40px;
    background-color: #4CAF50;
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 10px;
}

.addButton:hover {
    background-color: #5bcf5f;
}

.searchInput {
    flex-grow: 1;
    height: 40px;
    font-size: 16px;
    padding-left: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
