.tableMode {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
}

.tableMode button {
    flex: 1;
    height: 60px;
    border: none;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    cursor: pointer;
    transition-duration: 0.4s;
}

.tableMode button:hover {
    background-color: #45a049;
}

.tableMode button.activeButton {
    background-color: #4CAF50;
    font-weight: bold;
}

.tableMode button.inactiveButton {
    background-color: #c0c0c0;
    color: #333;
}
