.customSelect {
    position: relative;
    width: 200px;
}

.selectedOption {
    padding: 10px;
    border: 1px solid #ccc;
    cursor: pointer;
    border-radius: 4px;
}

.optionsContainer {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #fff;
    border: 1px solid #ccc;
    border-top: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.searchInput {
    width: calc(100% - 21px);
    padding: 10px;
    border: 1px solid #ccc;
    border-bottom: none;
}

.optionsList {
    list-style: none;
    padding: 0;
    margin: 0;
    max-height: 200px;
    overflow-y: auto;
}

.option {
    padding: 10px;
    cursor: pointer;
}

.option:hover {
    background-color: #f4f4f4;
}

.disabled {
    opacity: 0.5;
}